.back {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  margin-top: 5vh;
}

h1 {
  text-align: center;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page a {
  color: #494949;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-left: 10vh;
}

.page p {
  font-size: 1.2rem;
  max-width: 60rem;
  text-align: center;
}

.page .gallery {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(228, 222, 222, 0.329);
  border-bottom: #DD0D0D solid 2px;
}

.page .gallery .main-img img {
  max-width: 100%;
}

.page .gallery .imgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 5px;
}

.page .gallery .imgs img {
  width: 100%;
  cursor: pointer;
}

.page .gallerySecond {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(228, 222, 222, 0.329);
  border-bottom: #DD0D0D solid 2px;
}

.page .gallerySecond .main-img {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .gallerySecond .main-img img {
  max-width: 600px;
  max-height: 500px;
}

.page .gallerySecond .imgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 5px;
}

.page .gallerySecond .imgs img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.page .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 3fr;
      grid-template-columns: 5fr 3fr;
  -ms-grid-rows: 2fr 5fr;
      grid-template-rows: 2fr 5fr;
  margin-top: 10vh;
  height: 100%;
}

.page .container p {
  font-size: 1.2rem;
  width: 50vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: #DD0D0D 2px solid;
}

@media screen and (max-width: 1030px) {
  .page p {
    width: 60vh;
  }
  .page .container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .page p {
    max-width: 100%;
  }
  .page .gallerySecond {
    max-width: 300px;
  }
  .back {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 420px) {
  .page p {
    max-width: 100%;
  }
  .page .container {
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
  .page .gallery {
    max-width: 350px;
  }
  .page .gallery .main-img img {
    max-width: 100%;
  }
  .page .gallerySecond .main-img img {
    max-width: 315px;
    max-height: 500px;
  }
}
/*# sourceMappingURL=pages.css.map */