@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
  font-family: 'Nunito Sans', sans-serif;
}

* {
  text-decoration: none;
}

.nav_links950 {
  display: none;
}

.burger {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  background-color: #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 70px;
  width: 100%;
  border-bottom: solid 2px #DD0D0D;
  padding-left: 10vh;
  padding-right: 10vh;
}

nav li, nav button {
  font-weight: 400;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}

nav ul {
  list-style: none;
}

.logo {
  color: #DD0D0D;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.nav_links li {
  display: inline-block;
  padding: 0 25px;
}

.nav_links li {
  -webkit-transition: all 0.3s  ease 0s;
  transition: all 0.3s  ease 0s;
}

.nav_links li:hover {
  color: #DD0D0D;
}

.nav_contact li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

.nav_contact i {
  font-size: 30px;
}

nav button {
  color: #DD0D0D;
  border-radius: 20px;
  border-color: #DD0D0D;
  background-color: #ECECEC;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav button:hover {
  background-color: #a14545;
  border-color: #ECECEC;
  color: #ECECEC;
}

.tel {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tel a {
  color: black;
}

.tel :hover {
  color: #a14545;
}

@media screen and (max-width: 1030px) {
  nav {
    width: 100%;
    padding-left: 1vh;
    padding-right: 1vh;
  }
}

@media screen and (max-width: 950px) {
  .logo {
    z-index: 999;
  }
  nav {
    width: 100%;
    padding-left: 5vh;
    padding-right: 5vh;
  }
  .burger {
    z-index: 10;
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .nav_links {
    display: none;
  }
  .nav_contact {
    display: none;
  }
  .nav_links950 {
    z-index: 9;
    display: block;
    position: fixed;
    text-align: center;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background-color: #ECECEC;
    clip-path: circle(0vh);
    -webkit-clip-path: circle(0vh);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .nav_links950 li {
    margin: 10vh;
  }
  .open {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    clip-path: circle(100vh);
    -webkit-clip-path: circle(100vh);
  }
}

@media screen and (max-width: 330px) {
  nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .burger {
    z-index: 10;
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .nav_links {
    display: none;
  }
  .nav_contact {
    display: none;
  }
}
/*# sourceMappingURL=nav.css.map */