@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400&display=swap');
*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.firstBlog{display: flex;
      justify-content: center;
      align-items: center;
      
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('./img/handy.jpg');
      border-bottom: #DD0D0D solid 2px;
}
.blog{display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
  border-radius: 40px;
  background-color: rgba(236, 236, 236, 0.808);
  height: 60vh;
  width: 80vh;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;

    }
.blog p{width: 60%;
        font-size: 6vh;
        text-align: center;
        background: none;
      margin-bottom: 20px;
    line-height: 1.6;
}
.blog button{font-size: 30px;
        width: 60%;
        background: none;
        color:#DD0D0D;
    border-radius: 20px;
    border-color:#DD0D0D;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;}
    button:hover{background-color: rgb(161, 69, 69);
                border-color: #ECECEC;
                color: #ECECEC;}
            
        